body {
    background-image: url("hello%20animals%20waving.jpg");
    background-size:cover;
    height: 100%;
    background-color: cornsilk;
    font-family: 'arial', 'helvetica', sans-serif;
    font-size: 11px; /*px, pt, em, vh, vw, */
}

#word {
    margin-left: 475px;
    margin-top: 500px;
    font-size: 30px;
    font-weight: bold;
    color: aquamarine;
}


